In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data.csv')
data.head()

                domain domain_type
0  000directory.com.ar      benign
1       000webhost.com      benign
2          001fans.com      benign
3   01-telecharger.com      benign
4       010shangpu.com      benign

In [3]:
data.shape

(144945, 2)

In [4]:
data1 = pd.read_csv('360_dga_domain.csv')


data1 = data1.drop(data1.columns[0], axis=1)

data1.head()
data1.columns = ['domain', 'domain_type']

In [5]:
data = data.append(data1)
data.shape

(1314665, 2)

In [6]:
data2 = pd.read_csv('bambenek_dga_domain.csv')
data2.head()
data2 = data2.drop(data2.columns[0], axis=1)
data2.columns = ['domain', 'domain_type']
data = data.append(data2)
data.shape

df = data
df

                          domain domain_type
0            000directory.com.ar      benign
1                 000webhost.com      benign
2                    001fans.com      benign
3             01-telecharger.com      benign
4                 010shangpu.com      benign
...                          ...         ...
846611  toogdpdiekwh.dynserv.com         DGA
846612           toogdpdiekwh.tv         DGA
846613                tosxxoa.cc         DGA
846614               tosxxoa.com         DGA
846615        tosxxoa.dyndns.org         DGA

[2161281 rows x 2 columns]

In [7]:
data3 = pd.read_csv('mixed_domain.csv')
data3.head()
data3 = data3.drop(data3.columns[0], axis=1)
data3.columns = ['domain', 'domain_type']

data3.head()
data3['domain_type'].replace(to_replace ="Normal", 
                 value ="benign") 
df = df.append(data3)
df

                             domain domain_type
0               000directory.com.ar      benign
1                    000webhost.com      benign
2                       001fans.com      benign
3                01-telecharger.com      benign
4                    010shangpu.com      benign
...                             ...         ...
2458858       ykhtsikathrinezad.com         DGA
2458859  htltrasildeafeninguvuc.com         DGA
2458860   iuaapokyvcrzynkisofpm.org         DGA
2458861   lhfnellefrictionlessv.com         DGA
2458862             bfhaancorml.com         DGA

[4620144 rows x 2 columns]

In [8]:
df.shape

(4620144, 2)

In [9]:
data4 = pd.read_csv('top-1m-domain.csv', header=None)
# data4['domain_type']
data4['a']='benign'
data4 = data4.drop(data4.columns[0], axis=1)
data4.columns = ['domain', 'domain_type']
data4.head()
data4.shape
df = df.append(data4)
data4.shape

(1000000, 2)

In [10]:
data5 = pd.read_csv('dga_domains.csv')

data5 = data5.drop(data5.columns[1], axis=1)
data5 = data5.drop(data5.columns[2], axis=1)
data5.columns = ['domain', 'domain_type']
data5["domain_type"].replace({"legit": "benign"}, inplace=True)

data5['domain_type'].unique()
data
# # data4['domain_type']
# data4['a']='benign'
# data4 = data4.drop(data4.columns[0], axis=1)
# data4.columns = ['domain', 'domain_type']
# data4.head()
# data4.shape
# df = df.append(data4)
# data4.shape
df = df.append(data5)

In [11]:
data5.shape

(133926, 2)

In [12]:

df["domain_type"].replace({"DGA": "dga", "Normal": "benign"}, inplace=True)
df.shape

(5754070, 2)

In [13]:

print(df)


test = df.groupby('domain_type')['domain'].nunique()
test

                               domain domain_type
0                 000directory.com.ar      benign
1                      000webhost.com      benign
2                         001fans.com      benign
3                  01-telecharger.com      benign
4                      010shangpu.com      benign
...                               ...         ...
133921                   zzsearch.net      benign
133922                    zzstream.li      benign
133923  zzu1icncjioj5i9gjr18vjr6c.org         dga
133924      zzxsmfnvijtdxnvxytowkx.ru         dga
133925                    zzztube.com      benign

[5754070 rows x 2 columns]

domain_type
benign    1039333
dga       1499684
Name: domain, dtype: int64

In [14]:
df.drop_duplicates(subset ="domain", 
                     keep ='first', inplace = True) 
df.shape

(2539017, 2)

In [15]:
# test2 = df.groupby('domain')['domain_type'].nunique()
# test2

domain
0-1.ir                          1
0-1.ru                          1
0-100fitness.com                1
0-100k.com                      1
0-12.ru                         1
                               ..
zzzzanerraticallyqozaw.com      1
zzzzfordlinnetavox.com          1
zzzzt5oeira.net                 1
zzzzz.kr                        1
zzzzzzzxxxddxdfvc.tumblr.com    1
Name: domain_type, Length: 2539017, dtype: int64

In [16]:
df.to_csv('merged.csv', index = False)

In [18]:
merged= pd.read_csv('merged.csv')
merged.shape

(2539017, 2)